/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a:link,
a:visited,
a:active {
  color: black;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/

body {
  font-family: "Work Sans";
  font-size: 14px;
  background-color: #fffef8;
}
main {
  max-width: 1140px;
  margin: auto;
}
header {
  max-width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

section {
  margin: 50px 0px 139px 0px;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  cursor: pointer;
  padding: 0 22px;
  font-size: 1.2em;
}
img.social {
  width: 22px;
}
li:hover,
a:hover {
  color: #b1663c;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  width: 99%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
  padding-left: 100px;
}

#introduction p {
  margin-bottom: 1.5em;
  width: 404px;
  padding-left: 100px;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.filter {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 60px;
}
button {
  cursor: pointer;
  font-family: "Syne";
  border: #1d6154 solid 1px;
  border-radius: 60px;
  padding: 9px;
  margin-left: 10px;
  color: #1d6154;
  background-color: #fffef8;
}

.active {
  color: white;
  background-color: #1d6154;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  cursor: pointer;
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding: 2em;
}
li.mentions {
  cursor: pointer;
  padding-right: 107px;
}

.connexion {
  padding-top: 150px;
}
.connexion_form {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.connexion_form-input {
  width: 359px;
  padding-left: 20px;
}
.connexion_mdp {
  padding-bottom: 200px;
  text-decoration: underline;
}
